@import "../../styles/variables.scss";

.generate {
	background-color: $color-primary;
	min-height: 100vh;
	width: 100%;
	.generate-content {
		@include flex(center, center);
		min-height: calc(100vh - 80px); // 80px is the height of the navbar
		.form-div {
			@include flex(flex-start, center, column);
			background: $color-generate-box;
			border-radius: 10px;
			padding: 50px;
			box-shadow: 0px -2px 3px 3px rgba(207, 232, 243, 0.4);
			@include for-size(tablet) {
				& {
					padding: 30px;
				}
			}
			@include for-size(mobile) {
				& {
					padding: 20px;
					padding-bottom: 30px;
				}
			}
			.form-items {
				@include flex(center, flex-start, column);
				padding: 40px 60px;
				gap: 20px;
				flex-wrap: wrap-reverse;
				@include for-size(tablet) {
					& {
						padding: 20px;
					}
				}
				@include for-size(mobile) {
					& {
						gap: 25px;
					}
				}
				.form-item {
					@include flex(space-between, center);
					width: 100%;
					.check-eg {
						@include flex(center, center);
						gap: 5px;
						@include custom-checkbox();
					}
					label {
						color: $color-secondary;
						@include flex(space-between, center);
						@include font($Poppins, 18px);
						padding-inline: 10px;
						width: 100%;
						gap: 50px;
						@include for-size(mobile) {
							& {
								@include flex(space-between, center, column);
								gap: 5px;
								@include font($Poppins, 16px);
							}
						}
					}
					input {
						@include font($Poppins, 20px);
						@include flex(center, center);
						text-align: right;
						padding: 2px 10px;
						border: none;
						outline: none;
						color: #eee;
						background: rgba($color: #eee, $alpha: 0.2);
						border-radius: 2px;
						transition: all 0.3s ease-in-out;
						&[type="number"] {
							border: 1px solid $color-secondary;
						}
						&::placeholder {
							padding-inline-end: 5px;
							@include font($Poppins, 16px);
							color: rgba($color: #eee, $alpha: 0.4);
							text-align: left;
						}
						@include arrow-input-disappear();
						@include for-size(mobile) {
							& {
								@include font($Poppins, 18px);
								text-align: center;
								&::placeholder {
									text-align: center;
								}
							}
						}
					}
					span {
						@include font($Poppins, 16px);
						padding-inline: 5px;
						color: $color-secondary;
						font-style: italic;
						@include for-size(mobile) {
							& {
								@include font($Poppins, 14px);
							}
						}
					}
				}
			}
			.generate-button {
				margin-top: 20px;
				align-self: center;
				@include font($Poppins, 20px);
				background: $color-btn;
				color: $color-white;
				border-radius: 10px;
				padding: 10px 15px;
				@include for-size(mobile) {
					& {
						@include font($Poppins, 18px);
					}
				}
			}
		}
	}
}
