// colors
$color-primary: #023047;
$color-secondary: #cfe8f3;
$color-btn: #ff725e;
$color-white: #ffffff;

// fonts
$Poppins: "Poppins", sans-serif;
$Inter: "Inter", sans-serif;

// margins
$margin-desktop: 0 125px;
$margin-mobile: 0 40px;

$nav-height: 80px;
$nav-height-mobile: 60px;

// display : flex
@mixin flex($jus-co, $ai, $flex-dir: row) {
	display: flex;
	justify-content: $jus-co;
	align-items: $ai;
	flex-direction: $flex-dir;
}

// fonts
@mixin font($fof, $fos, $fow: normal) {
	font-family: $fof;
	font-size: $fos;
	font-weight: $fow;
}

// media queries
@mixin for-size($size) {
	@if $size == tablet-portrait {
		@media screen and(max-width: 475px) {
			@content;
		}
	} @else if $size == tablet-landscape {
		@media (min-width: 900px) {
			@content;
		}
	} @else if $size == desktop {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $size == desktop-large {
		@media (min-width: 1800px) {
			@content;
		}
	}
}

// nav links animation
@mixin nav-animation() {
	&::before,
	&::after {
		display: inline-block;
		opacity: 0;
		-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
		-moz-transition: -moz-transform 0.3s, opacity 0.2s;
		transition: transform 0.3s, opacity 0.2s;
	}
	&::before {
		margin-right: 10px;
		content: "[";
		-webkit-transform: translateX(20px);
		-moz-transform: translateX(20px);
		transform: translateX(20px);
	}
	&::after {
		margin-left: 10px;
		content: "]";
		-webkit-transform: translateX(-20px);
		-moz-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	&:hover::before,
	&:hover::after,
	&:focus::before,
	&:focus::after {
		opacity: 1;
		-webkit-transform: translateX(0px);
		-moz-transform: translateX(0px);
		transform: translateX(0px);
	}
}

// lock component animation
@mixin lock-animation() {
	@keyframes close {
		0%,
		10% {
			transform: translate(0%, 0%);
		}
		20%,
		100% {
			transform: translate(0%, 8px);
		}
	}
	@keyframes wiggle {
		0%,
		10%,
		20%,
		30%,
		40% {
			transform: rotate(0);
		}
		40%,
		50%,
		60%,
		70%,
		80% {
			transform: rotate(10deg);
		}
		45%,
		55%,
		65%,
		75%,
		85% {
			transform: rotate(-10deg);
		}
		85%,
		100% {
			transform: rotate(0);
		}
	}
}
