// colors
$color-primary: #023047;
$color-secondary: #cfe8f3;
$color-btn: #ff725e;
$color-white: #ffffff;

// fonts
$Poppins: "Poppins", sans-serif;
$Inter: "Inter", sans-serif;

// margins
$margin-desktop-large: 0 125px;
$margin-desktop: 0 75px;
$margin-mobile: 0 40px;
$margin-generate: 100px 0;

$nav-height: 80px;
$nav-height-mobile: 60px;

// display : flex
@mixin flex($jus-co, $ai, $flex-dir: row) {
	display: flex;
	justify-content: $jus-co;
	align-items: $ai;
	flex-direction: $flex-dir;
}

// fonts
@mixin font($fof, $fos, $fow: normal) {
	font-family: $fof;
	font-size: $fos;
	font-weight: $fow;
}

// media queries
@mixin for-size($size) {
	@if $size == tablet {
		@media only screen and(min-device-width: 320px) and (max-device-width: 768px) {
			@content;
		}
	} @else if $size == desktop {
		@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
			@content;
		}
	}
}

// nav links animation
@mixin nav-animation() {
	&::before,
	&::after {
		display: inline-block;
		opacity: 0;
		transition: transform 0.3s, opacity 0.2s;
	}
	&::before {
		margin-right: 10px;
		content: "[";
		transform: translateX(20px);
	}
	&::after {
		margin-left: 10px;
		content: "]";
		transform: translateX(-20px);
	}
	&:hover::before,
	&:hover::after,
	&:focus::before,
	&:focus::after {
		opacity: 1;
		transform: translateX(0px);
	}
}

// lock component animation
@mixin lock-animation() {
	@keyframes close {
		0%,
		10% {
			transform: translate(0%, 0%);
		}
		20%,
		100% {
			transform: translate(0%, 8px);
		}
	}
	@keyframes wiggle {
		0%,
		10%,
		20%,
		30%,
		40% {
			transform: rotate(0);
		}
		40%,
		50%,
		60%,
		70%,
		80% {
			transform: rotate(10deg);
		}
		45%,
		55%,
		65%,
		75%,
		85% {
			transform: rotate(-10deg);
		}
		85%,
		100% {
			transform: rotate(0);
		}
	}
}

// mixin to remove arrows from the input type number
@mixin arrow-input-disappear() {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	/* Firefox */
	&[type="number"] {
		-moz-appearance: textfield;
	}
}

// customizing checkboxes on Generate page
@mixin custom-checkbox() {
	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	.checkbox-custom {
		height: 20px;
		width: 20px;
		background-color: transparent;
		border-radius: 5px;
		border: 1px solid $color-secondary;
		transition: all 0.3s ease-out;
		&::before {
			position: absolute;
			content: "";
			left: 10px;
			right: 10px;
			height: 0;
			width: 0;
			border-radius: 5px;
			border: 2px solid $color-secondary;
			transform: scale(0);
		}
		&::after {
			position: absolute;
			content: "";
			left: 10px;
			right: 10px;
			height: 0;
			width: 0;
			border-radius: 5px;
			border: solid #023b57;
			border-width: 0 3px 3px 0;
			transform: rotate(0deg) scale(0);
			opacity: 1;
			transition: all 0.15s ease-out;
		}
	}
	input[type="checkbox"]:checked ~ .checkbox-custom {
		background-color: #eee;
		border-radius: 5px;
		transform: rotate(0deg) scale(1);
		opacity: 1;
		border: 2px solid $color-secondary;
	}
	input[type="checkbox"]:checked ~ .checkbox-custom::before {
		left: -2px;
		top: -2px;
		width: 20px;
		height: 20px;
		border-radius: 5px;
		transform: scale(3);
		opacity: 0;
		z-index: 999;
		transition: all 0.15s ease-out;
	}
	input[type="checkbox"]:checked ~ .checkbox-custom::after {
		transform: rotate(45deg) scale(1);
		opacity: 1;
		left: 5px;
		top: 1px;
		width: 6px;
		height: 12px;
		border: solid #023b57;
		border-width: 0 2px 2px 0;
		background-color: transparent;
		border-radius: 0;
	}
}
