@import "../../styles/variables.scss";
header {
	background: $color-secondary;
	height: $nav-height;
	width: 100%;
	@include flex(center, center);
	.header-content {
		margin: $margin-uni;
		width: 100%;
		@include flex(space-between, center);
		.logo {
			cursor: pointer;
			@include flex(center, center);
			span {
				@include font($Inter, 2rem, 600);
			}
			&-icon {
				margin-right: 10px;
				font-size: 2rem;
			}
		}
		nav {
			ul {
				@include flex(space-between, center);
				li {
					margin: 0 4rem;
					cursor: pointer;
					@include font($Inter, 18px);
					@include nav-animation();
				}
			}
		}
		.hamburger {
			cursor: pointer;
			@include flex(center, center);
			.hamburger-icon {
				font-size: 2rem;
			}
			display: none;
		}
	}
}
